@font-face {
    font-family: 'Roboto-light';
    src: url(Roboto/Roboto-Light.ttf);
}
.navbar {
    display: flex;
    justify-content: center;
    height:5em;
    margin:0%;
    position: fixed;
    width: 100%;
    background-color: #04031C;
}

body {
    margin: 0%;
    font-family: 'Roboto-regular ', sans-serif;
    background-color: #04031C;
}
html {
    margin: 0%;
}
.nav-links {
    font-size: large;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    color:  white;
}

a:link {
    text-decoration: none;
}
a.nav:hover {
    color: #FFB591;
}
.social {
    font-size: large;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    align-items: center;
    color:  white;
}
.fa-brands:hover {
    transform: scale(1.2);
}
.intro {
    display: flex;
    height: auto;
    border-bottom: 2px solid black;
    background-color: #04031C;
    color:  white;
    padding-bottom: 2%;
    padding-top: 4%;
}
p {
    margin: 20px;
    width: auto;
}
.hi {
    font-size: .7em;
}

bold {
    color: #FFB591;
}
.job-title {
    font-size: .7em;
}
.greet {
    width: 40%;
    display: flex;
    font-size: 6em;
    padding-top: .5em;
    padding-left: 1em;
    flex-direction: column;
    padding-bottom: 1em;
}
main {
    padding: 1em;
    background-color: white;
}

.about {
    text-align: center;
    color: #04031C;
    font-size: 1.3em;
    margin: auto;
    width: 30%;
}

.about h2 {
    font-family: 'Roboto-Light', sans-serif;
}


.skills {
    background-color: #04031C;
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: auto;
    height: auto;
    padding-top: 2em;
    margin-bottom: 1em;
}

.skills h1 {
    font-size: 2em;
}

.skillContainer {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    height: 9em;

}

.skillCard {
    height: 2em;
    width: 2em;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
img {
    height: 60px;
    width: 60px;
    border-radius: 100px;
}

.skillHead {
    width: 60px;
}
.whiteLine {

    border: 1px solid white;
    width: 20%;
    margin: auto;
}

.projectCont {
    background-color: #04031C;
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin: auto;
    height: auto;
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project h1 {
    font-size: 2em;
}

.projectCard {
    height: 6em;
    width:50%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: black;
    padding: 1%;
    border-radius: 10px;
    margin: 1%;
}

.project a {
    color: #04031C;
}
.projectSum {
    width: 50%;
    text-align: left;
}
.button {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1.2em;
    background-color: white;
}
.button:hover {
    background-color: #04031ce7;
    color: white;
    cursor: pointer;
}
.skill {
    color:#FFB591;
    font-weight: bold;
}
a {
    color: white;
}